<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Welcome</title>
    <style>
      #header nav{
    background-color: #68636e;
    padding: 1em 0;
    width: 100%;
}


.container .box-nav > a{
    font-size: 1em;
    padding: 15px;
    margin-left: 87%;
    margin: 2em 0;
    max-width: 1024px;
    margin: auto;
    text-align: center;
}
.text-center{
    text-align: center;
}
#logout{
    padding: 15px;
    margin-left: 80%;
    color: var(--dark);
    font-size: 1.3em;
    text-decoration: none;
}
.ATN{
  color: var(--dark);
  text-decoration: none;
  font-size: 2em;
}
    </style>
</head>
<body>
  <header id="header">
    <nav>
        <div class="container">
            <div class="text-center">
                <a class="ATN">ATN Shop</a>
            </div>
        </div>  
    </nav>
</header>
<h1 style="padding-left: 35%;">
  Welcome to ATN shop. Please <a href="login">login</a>
</h1>
</body>
</html>